<html>
    <head>
        <title>hundred thousand streets Corp. | Toronto Canada | hundred thousand streets Corp.</title>
        <meta name="description" content="hundred thousand streets is GTA's Premier vinyl wrap company. We offer full wraps, custom designs, racing stripes, hood wraps, roof wraps, paint-protection film, detailing and rust proof. We aim to inspire and nurture a culture of creativity and quality, while bringing inspiration and innovation to every person in the world through cars. A level of personalized innovation, creativity and detailed service from a trusted and experienced brand.">
        <meta name="keywords" content="Car wrap, Vinyl wrap, Color Change, Headlight tints, Roof Wrap, Hood Wrap, Toronto, Brampton, Canada, GTA">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="static/img/100-logo-img.png">
    <!--- Bootstrap --->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!--- Materialize --->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--- Font Awesome --->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!--- Static --->
        <script src="static/js/app.js"></script>
        <link rel="stylesheet" href="static/css/custom.css">
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164224221-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-164224221-1');
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2S6W36YYSW"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-2S6W36YYSW');
        </script>
       
    </head>

    <body>

        <div class="pageLoad">
          
            <div class="inner">
                <div class="text-center ">
                    <section class="portfolio-experiment">
                        <div class="experiment-title" contenteditable="true" >hundred thousand streets Corp.</div>
                      </section>
                </div>
            </div> 
        </div>
            
      <!-- <div style="background-color:black; color:white; border:none; border-radius:0; font-size:10px;" class="text-center alert alert-dark" role="alert">
        Follow us at <a style="color:white;"href="http://www.instagram.com/hundredthousandstreets">@thehouseofwrap</a> on instagram for special offers!
      </div> -->
      <!-- <div style="background-color:black; color:white; border:none; border-radius:0; font-size:10px;" class="text-center alert alert-dark" role="alert">
        Head & Tail Light Tints Starting @ $145, limited time only <br class="hide-on-med-and-up"> <b class="hide-on-small-only">-</b> <a style="color:white; text-decoration:underline;" href="tel:647-503-1230"><b> (647) 795-6275</b></a>
      </div> -->
      <nav class=" hide-on-med-and-down">
        <div class="nav-wrapper ">
          <a href="index.html" class="logo-icon"><img style=" width:80px; height:80px; margin-top: 10px;"src="static/img/100-logo-img.png"></img></a>
        
          <ul style="font-size: 12px; padding-right:90px;"  id="nav-mobile" class="right hide-on-med-and-down navlinks">
            <li class="navlinks  "><a href="index.html" style="font-size: 11px;" >HOME</a></li>
            <li class="navlinks"><a href="shop.html" style="font-size: 12px;">SHOP</a></li>
            <li class="navlinks"><a href="jobboard.html" style="font-size: 12px;">JOB BOARD</a></li>

            <!--<li   class="navlinks"><a href="portfolio.html" style="font-size: 11px;" >PORTFOLIO</a></li>-->
            <li class="navlinks"><a href="services.html" style="font-size: 11px;">SERVICES</a></li>
            <!-- <li class="navlinks"><a href="{% url 'home' %}" style="font-size: 12px;">MERCH</a></li> -->
            <li class="navlinks  activcen fade-in"><a href="contact.html" style="font-size: 11px;">CONTACT</a></li>
          </ul>
        </div>

      </nav>
      <!--  Mobile -->
      <nav >
        <div style="padding-top: 10px;"class="nav-wrapper hide-on-large-only">
          <a href="index.html" class="logo-icon"><img style=" width:60px; height:60px; margin-top: px;"src="static/img/100-logo-img.png"></img></a>
          <a href="#" data-target="mobile-demo" class="right sidenav-trigger">
            <div class="container" onclick="myFunction(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
              <div class="bar4"></div>
              <div class="bar5"></div>
            </div>
          </a>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
        <li class="navlinks "><a href="index.html" style="font-size: 12px;" >HOME</a></li>
        <li class="navlinks"><a href="shop.html" style="font-size: 12px;">SHOP</a></li>
        <li class="navlinks "><a href="jobboard.html" style="font-size: 12px;">JOB BOARD</a></li>

        <!--<li   class="navlinks"><a href="portfolio.html" style="font-size: 12px;" >PORTFOLIO</a></li>-->
        <li class="navlinks"><a href="services.html" style="font-size: 12px;">SERVICES</a></li>
         <!--<li class="navlinks"><a href="{% url 'home' %}" style="font-size: 12px;">MERCH</a></li>-->
        <li class="navlinks activcen"><a href="contact.html" style="font-size: 12px;">CONTACT</a></li>
      </ul>
      </br>
    <!--- Header --->
    <div class="container" >
      <h1 class="title-h1">Get in touch</h1>
     </div>
    <!--- Pics --->
    <div class="container">
        <div class="row">
            <p>As we have evolved throughout the years, and become more of who we are, we would like to introduce you to us again. We still wrap cars, but we also plan to do a little more than that now.</p>
        </div>

       
    
    </div>
 <a id="contactpage"></a>
        <div   class="row container" style="padding-bottom:50px;">
            <!--- Socials --->
            <div class="col-lg-5  text-center col-sm-12"  style="margin-left:0px; padding-top:40px;">

                <!-- <div class="col text-center padding-left-icon padding-bottom: 30px;" >
                    <a href="#"><i class=" padding-left-icon fab fa-instagram" style="padding-left:40px; font-size:40px; color:black;"></i></a>
                    <a href="#"><i class="padding-left-icon fab fa-facebook-f " style="padding-left:40px; font-size:40px; color:black;"></i></a>
                    <a href="#"><i class=" padding-left-icon fas fa-phone" style="padding-left:40px; font-size:40px; color:black;"></i></a>
                    <a href="#"><i class=" padding-left-icon fab fa-twitter" style="padding-left:40px; font-size:40px; color:black;"></i></a>
                    <p style="font-weight: 200; font-style: ; margin-top:30px; text-center "> To Contact us ASAP, Follow Us Here.</p>
                </div> -->
                <div class="row">
                    <div class="col-2 col text-left"><a target="_blank" href="http://www.instagram.com/hundredthousandstreets"><i class="  fab fa-instagram" style="padding-left: ; font-size:20px; color:black;"></i></a></div>
                    <div class="col text-left texty phone-text-2"><a target="_blank" href="http://www.instagram.com/hundredthousandstreets"> @hundredthousandstreets</a></div>
                </div>
                 <!--<div class="row" style="padding-top:20px;">
                  <div class="col-2 col text-left"><i class="  fas fa-phone" style="padding-left: ; font-size:20px; color:black;"></i></div>
                  <div class="col text-left texty phone-text-2"><a style="color:black;" href="tel:647-741-0742">647-503-1230</a></div>
                </div>-->
                <!--
                   <div class="row" style="padding-top:20px;">
                    <div class="col-4 col text-right"><a  target="_blank" href="https://www.facebook.com/Hundred-Thousand-Streets-102393484951520s"><i class="  fab fa-facebook-f" style="padding-left: ; font-size:20px; color:black;"></i></a></div>
                    <div class="col text-left texty phone-text-2" ><a target="_blank" href="https://www.facebook.com/Hundred-Thousand-Streets-102393484951520s"> @hundred thousand streets</a></div>
                </div>
                  <div class="row" style="padding-top:20px;">
                    <div class="col-4 col text-right"><i class="  fas fa-phone" style="padding-left: ; font-size:20px; color:black;"></i></div>
                    <div class="col text-left texty phone-text-2"><a style="color:black;" href="tel:647-503-1230">(647) 795-6275</a></div>
                </div>-->

            <!--    <div class="row" style="padding-top:20px;">
                    <div class="col-4 col text-right"><i class="fas fa-envelope" style="padding-left: ; font-size:20px; color:black;"></i></div>
                    <div   class="col text-left texty phone-text"><a href="mailto:contact@houseofwrap.com">team@hundred thousand streets.com</a></div>
                </div>-->
                <div class="row" style="padding-top:20px;">
                    <div class="col-2 col text-left"><i class="fas fa-map-marker-alt"  style="padding-left: ; font-size:20px; color:black;"></i></div>
                    <div   class="col text-left texty phone-text"><a target="_blank" href="https://goo.gl/maps/xg8CjDcRbHRcGibu8">12723 The Gore Rd unit 1, Bolton, ON L7C 3C8</a></div>
                </div>
                <div class="row" style="padding-top:20px;">
                    <div class="col-2 col text-left"><i class="far fa-clock"  style="padding-left: ; font-size:20px; color:black;"></i></div>
                    <div   class="col text-left texty phone-text"><a>Hours (by appointment only)</a></div>
                </div>

            </div>

           <hr class="show-on-medium-and-down" >
            <!--- Email --->

            <div class="col-lg-7 col-sm-12">
              <div class="">
                <div class="text-center">
                    <h5 style="font-weight: 600; font-style: italic; margin-bottom:30px; "></h5>
                </div>
                <div class=" row">
                  <form class="col s12" action="https://formspree.io/f/xoqroobe" method="POST">
                    <div class="row">
                      <div class="input-field col s12">
                        <label style="font-size:14px;" name="name" for="name" >Name</label>
                        <input placeholder="" id="name" type="text" class="validate" required>
                      </div>
                    </div>
                    <div class="row">
                      
                      <div class="input-field col s12">
                        
                        <input placeholder="" id="email" type="email" name="email"  class="validate" required>
                        <label style="font-size:14px;" for="email" >Email</label>
                        <span class="helper-text" data-error="please enter valid email" data-success=""></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input placeholder="" id="phone" name="phone" type="tel" class="validate" pattern="[0-9]{10}" required>
                        <label style="font-size:14px;" for="phone">Phone</label>
                        <span class="helper-text" data-error="please enter valid number Format: 123-456-7890" data-success=""></span>
                      </div>
                    </div>
                    <div style="padding-right:10px; padding-left:10px;"class="row">
                        <label style="font-size:11px;" name="message" for="message">Message</label required>
                         <textarea style="opacity:; border-radius:5px; border-color: lightgrey; height:160px" id="subject" name="subject" placeholder=""  ></textarea>
                    </div>
                    <div style="margin-top:-0%; margin-left:1px;"class="row">

                      <button type="submit"  class="retro-button-3" style=" margin-left: 0px !important;" >SUBMIT</button>
                    </div>
                  </form>
                  
                </div>
              </div>



            </div>

        </div>


    <!--- Footer --->
    <div>
        <!-- alt social logos
        <div class="row col-lg-3 col-md-6 col-sm-6">
                        <div class="col text-center ">
                            <ul  class="list-inline social-links2 ">
                                <li ><a  href="#"><i class="fab fa-facebook"></i></a></li>
                            </ul>
                        </div>
                        <div class="col  text-center ">
                            <ul class="list-inline social-links2 ">
                                <li><a  href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="col  text-center ">
                            <ul class="list-inline social-links2 ">
                                <li><a  href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div> -->

        <div class="row ">
            <div class="col text-right padding-left-icon" >
                <a target="_blank" href="http://www.instagram.com/hundredthousandstreets"><i class=" padding-left-icon fab fa-instagram" style="padding-left:15px; font-size:12px; color:black;"></i></a>
                <!-- <a target="_blank" href="https://www.facebook.com/Hundred-Thousand-Streets-102393484951520s"><i class="padding-left-icon fab fa-facebook-f " style="padding-left:15px; font-size:12px; color:black;"></i></a>-->
                <!--<a href="tel:647-503-1230"><i class=" padding-left-icon fas fa-phone" style="padding-left:15px; font-size:12px; color:black;"></i></a>-->
            </div>
        </div>
        <div class="row links">
            <div class="font-1 col text-left"> <a href="jobboard.html">SEE AVAILABILITY</a></div>
            <div class="font-1 col text-center">© 2022 hundred thousand streets Corp.</div>
            <div class="font-1 ho col text-right"> <a href="customerservice.html">CUSTOMER   SERVICE</a>   </div>
        </div>
    </div>

    </body>

    <!-- Footer -->

<script src="static/js/app.js"></script>
<script src="preorder.js"></script>


<script>
    // Set the date we're counting down to
    var countDownDate = new Date("oct 7, 2022 10:00:00").getTime();
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get today's date and time
      var now = new Date().getTime();
        
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
        
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
      // Output the result in an element with id="demo"
      [...document.getElementsByClassName("timercountdown")].forEach(e => e.innerHTML = days + ":" + hours + ":"
      + minutes + ":" + seconds + "");
        
      // If the count down is over, write some text 
      if (distance < 0) {
        clearInterval(x);
        [...document.getElementsByClassName("timercountdown")].forEach(e=>e.innerHTML = "EXPIRED");
      }
    }, 1000);
    </script>

</html>
