<html>
    <head>
        <title>hundred thousand streets Corp. | Toronto Canada | hundred thousand streets Corp.</title>
        <meta name="description" content="hundred thousand streets is GTA's Premier vinyl wrap company. We offer full wraps, custom designs, racing stripes, hood wraps, roof wraps, paint-protection film, detailing and rust proof. We aim to inspire and nurture a culture of creativity and quality, while bringing inspiration and innovation to every person in the world through cars. A level of personalized innovation, creativity and detailed service from a trusted and experienced brand.">
        <meta name="keywords" content="Car wrap, Vinyl wrap, Color Change, Headlight tints, Roof Wrap, Hood Wrap, Toronto, Brampton, Canada, GTA">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="static/img/100-logo-img.png">
    <!--- Bootstrap --->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!--- Materialize --->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--- Font Awesome --->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!--- Static --->
        <script src="static/js/app.js"></script>
        <link rel="stylesheet" href="static/css/custom.css">
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164224221-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-164224221-1');
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2S6W36YYSW"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-2S6W36YYSW');
        </script>
       
    </head>

    <body>

        <div class="pageLoad">
          
            <div class="inner">
                <div class="text-center ">
                    <section class="portfolio-experiment">
                        <div class="experiment-title" contenteditable="true" >hundred thousand streets Corp.</div>
                      </section>
                </div>
            </div> 
        </div>
            
      <!-- <div style="background-color:black; color:white; border:none; border-radius:0; font-size:10px;" class="text-center alert alert-dark" role="alert">
        Follow us at <a style="color:white;"href="http://www.instagram.com/hundredthousandstreets">@thehouseofwrap</a> on instagram for special offers!
      </div> -->
      <!-- <div style="background-color:black; color:white; border:none; border-radius:0; font-size:10px;" class="text-center alert alert-dark" role="alert">
        Head & Tail Light Tints Starting @ $145, limited time only <br class="hide-on-med-and-up"> <b class="hide-on-small-only">-</b> <a style="color:white; text-decoration:underline;" href="tel:647-503-1230"><b> (647) 795-6275</b></a>
      </div> -->
      <nav class=" hide-on-med-and-down">
        <div class="nav-wrapper ">
          <a href="index.html" class="logo-icon"><img style=" width:80px; height:80px; margin-top: 10px;"src="/static/img/static/img/100-logo-img.png"></img></a>

          <ul style="font-size: 12px; padding-right:90px;"  id="nav-mobile" class="right hide-on-med-and-down navlinks">
            <li class="navlinks activcen fade-in"><a href="index.html" style="font-size: 11px;" >HOME</a></li>
            <li class="navlinks"><a href="shop.html" style="font-size: 12px;">SHOP</a></li>
            <li class="navlinks"><a href="jobboard.html" style="font-size: 12px;">JOB BOARD</a></li>

            <!--<li   class="navlinks"><a href="portfolio.html" style="font-size: 11px;" >PORTFOLIO</a></li>-->
            <li class="navlinks"><a href="services.html" style="font-size: 11px;">SERVICES</a></li>
            <!-- <li class="navlinks"><a href="{% url 'home' %}" style="font-size: 12px;">MERCH</a></li> -->
            <li class="navlinks"><a href="contact.html" style="font-size: 11px;">CONTACT</a></li>
          </ul>
        </div>

      </nav>
      <!--  Mobile -->
      <nav >
        <div style="padding-top: 10px;"class="nav-wrapper hide-on-large-only">
          <a href="index.html" class="logo-icon"><img style=" width:60px; height:60px; margin-top: px;"src="/static/img/static/img/100-logo-img.png"></img></a>
          <a href="#" data-target="mobile-demo" class="right sidenav-trigger">
            <div class="container" onclick="myFunction(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
              <div class="bar4"></div>
              <div class="bar5"></div>
            </div>
          </a>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
        <li class="navlinks activcen"><a href="index.html" style="font-size: 12px;" >HOME</a></li>
        <li class="navlinks"><a href="shop.html" style="font-size: 12px;">SHOP</a></li>
        <li class="navlinks"><a href="jobboard.html" style="font-size: 12px;">JOB BOARD</a></li>

        <!--<li   class="navlinks"><a href="portfolio.html" style="font-size: 12px;" >PORTFOLIO</a></li>-->
        <li class="navlinks"><a href="services.html" style="font-size: 12px;">SERVICES</a></li>
         <!--<li class="navlinks"><a href="{% url 'home' %}" style="font-size: 12px;">MERCH</a></li>-->
        <li class="navlinks"><a href="contact.html" style="font-size: 12px;">CONTACT</a></li>
      </ul>
      </br>
    <!--- Header --->
    <div class="container" >
        <div class="row">
                <div class="col-lg-5 col-xs-12 text-center margin-bottom-header " style="margin-top:40px;">
                        <!-- <div class="logo"><b>Design.<span>Pri</span>nt.<span>Ins</span>tall.</b></div> -->
                        <h5 class="text-center logo-text" style="font-weight: 800; font-style: italic;" >hundred thousand streets.</h5>
                        <!--<p class="text-center font-2">we are more than just this, but for now we're installing color swaps, stripes, decals, head/tail-light tints, custom designs and pff. </p>-->
                        
                        <p class="text-center font-2 main-p-text">Currently accepting a few cars to be wrapped. See job board for available spots and type of wraps, we're accepting a few bookings until the buzzer reaches zero</br></br> <span style="font-weight:500; font-size:14px; color: red" class="timercountdown"></span></p>
                        <!--<div class="text-center"><a href="contact.html#contactpage"><button style="font-size: 12px; font-weight: 600; font-style: none; color:white;  border-radius: 18px; background-color:#1573E9;" type="button" class=" button2 text-center btn btn-primary">Get in Contact</button></a> </div>-->
                         </br>
                        <div class="text-center"><a href="jobboard.html"><button  type="button" class=" retro-button-3 text-center">View Job Board</button></a> </div>                    </br>
                    </div>

                  <div class="col-lg-7 col-xs-12">
                      <img src="static/img/lambo100.jpg" alt="classic car"class="margin-top-header img-fluid">
                      <!--- <img style="width:427px; height:320px; margin-left: 100px; margin-top: 3px;"src="/static/img/vehicle-1565230815434-7874.jpg"></img> -->
                    </div>
              </div>
          </div>
     </div>
    <!--- Pics --->
    <div class="container">
        
        <div class="row">
            <div class="col-lg-4 col-4 text-center">
                <img src="static/img/mustang-jpaan.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-lg-4 col-4  text-center">
                <img src="static/img/home-drive.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-lg-4 col-4  text-center">
                <img src="static/img/2019-Japan-by-Jedrek-Solinski-for-Speedhunters-31.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
        <div class="row">
            <p class="col-12 text-center font-2 description-font">We are more than just this, but for now, depending on availability, we're installing color swaps, stripes, decals, head/tail-light tints, custom designs and pff </p>
        </div>
        <div class="row">
            <div class="text-center">
                <img src="static/img/2019-Japan-by-Jedrek-Solinski-for-Speedhunters-35.jpg" class="img-fluid" alt="Responsive image">
            </div>

        </div>
    
    </div>
 
    <div class="container"> 
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-8 text-center">
                <img src="static/img/nissan-neon-drip.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-lg-4 col-md-4 .d-none .d-sm-block col-sm-4 col-4 text-center">
                <img src="static/img/rs4_tints.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
        
        <div class="row">


            <div class="col-lg-4 col-4 text-center">
                <img src="static/img/dark-car-wallpaper.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-lg-4 col-4 text-center">
                <img src="static/img/home-kobe.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-lg-4 col-4 text-center">
                <img src="static/img/home-breakingbad.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>
       
    </div>
    <div class="row">
        <div class="col-12 text-logo-container">
            <div class="text-center">
                <section class="portfolio-experiment">
                    <div class="experiment-title" contenteditable="true" style="color: #FFF11B;">hundred thousand streets Corp.</div>
                  </section>
            </div>
        </div>
        
    </div>

 

    <!--- Footer --->
    <div>
        <!-- alt social logos
        <div class="row col-lg-3 col-md-6 col-sm-6">
                        <div class="col text-center ">
                            <ul  class="list-inline social-links2 ">
                                <li ><a  href="#"><i class="fab fa-facebook"></i></a></li>
                            </ul>
                        </div>
                        <div class="col  text-center ">
                            <ul class="list-inline social-links2 ">
                                <li><a  href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="col  text-center ">
                            <ul class="list-inline social-links2 ">
                                <li><a  href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div> -->

        <div class="row ">
            <div class="col text-right padding-left-icon" >
                <a target="_blank" href="http://www.instagram.com/hundredthousandstreets"><i class=" padding-left-icon fab fa-instagram" style="padding-left:15px; font-size:12px; color:black;"></i></a>
                <!-- <a target="_blank" href="https://www.facebook.com/Hundred-Thousand-Streets-102393484951520s"><i class="padding-left-icon fab fa-facebook-f " style="padding-left:15px; font-size:12px; color:black;"></i></a>-->
                <!--<a href="tel:647-503-1230"><i class=" padding-left-icon fas fa-phone" style="padding-left:15px; font-size:12px; color:black;"></i></a>-->
            </div>
        </div>
        <div class="row links">
            <div class="font-1 col text-left"> <a href="jobboard.html">SEE AVAILABILITY</a></div>
            <div class="font-1 col text-center">© 2022 hundred thousand streets Corp.</div>
            <div class="font-1 ho col text-right"> <a href="customerservice.html">CUSTOMER   SERVICE</a>   </div>
        </div>
    </div>

    </body>

    <!-- Footer -->
<script src="static/js/app.js"></script>
<script src="preorder.js"></script>


<script>
    

    </script>
</html>
