<html>
    <head>
        <title>hundred thousand streets Corp. | Toronto Canada | hundred thousand streets Corp.</title>
        <meta name="description" content="hundred thousand streets is GTA's Premier vinyl wrap company. We offer full wraps, custom designs, racing stripes, hood wraps, roof wraps, paint-protection film, detailing and rust proof. We aim to inspire and nurture a culture of creativity and quality, while bringing inspiration and innovation to every person in the world through cars. A level of personalized innovation, creativity and detailed service from a trusted and experienced brand.">
        <meta name="keywords" content="Car wrap, Vinyl wrap, Color Change, Headlight tints, Roof Wrap, Hood Wrap, Toronto, Brampton, Canada, GTA">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="static/img/100-logo-img.png">
    <!--- Bootstrap --->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!--- Materialize --->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--- Font Awesome --->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!--- Static --->
        <script src="static/js/app.js"></script>
        <link rel="stylesheet" href="static/css/custom.css">
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164224221-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-164224221-1');
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2S6W36YYSW"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-2S6W36YYSW');
        </script>
       
    </head>

    <body>

        <div class="pageLoad">
          
            <div class="inner">
                <div class="text-center ">
                    <section class="portfolio-experiment">
                        <div class="experiment-title" contenteditable="true" >hundred thousand streets Corp.</div>
                      </section>
                </div>
            </div> 
        </div>
            
      <!-- <div style="background-color:black; color:white; border:none; border-radius:0; font-size:10px;" class="text-center alert alert-dark" role="alert">
        Follow us at <a style="color:white;"href="http://www.instagram.com/hundred thousand streets">@thehouseofwrap</a> on instagram for special offers!
      </div> -->
      <!-- <div style="background-color:black; color:white; border:none; border-radius:0; font-size:10px;" class="text-center alert alert-dark" role="alert">
        Head & Tail Light Tints Starting @ $145, limited time only <br class="hide-on-med-and-up"> <b class="hide-on-small-only">-</b> <a style="color:white; text-decoration:underline;" href="tel:647-503-1230"><b> (647) 795-6275</b></a>
      </div> -->
      <nav class=" hide-on-med-and-down">
        <div class="nav-wrapper ">
          <a href="index.html" class="logo-icon"><img style=" width:80px; height:80px; margin-top: 10px;"src="static/img/100-logo-img.png"></img></a>
        
          <ul style="font-size: 12px; padding-right:90px;"  id="nav-mobile" class="right hide-on-med-and-down navlinks">
            <li class="navlinks  "><a href="index.html" style="font-size: 11px;" >HOME</a></li>
            <li class="navlinks"><a href="shop.html" style="font-size: 12px;">SHOP</a></li>
            <li class="navlinks activcen fade-in"><a href="jobboard.html" style="font-size: 12px;">JOB BOARD</a></li>

            <!--<li   class="navlinks"><a href="portfolio.html" style="font-size: 11px;" >PORTFOLIO</a></li>-->
            <li class="navlinks"><a href="services.html" style="font-size: 11px;">SERVICES</a></li>
            <!-- <li class="navlinks"><a href="{% url 'home' %}" style="font-size: 12px;">MERCH</a></li> -->
            <li class="navlinks"><a href="contact.html" style="font-size: 11px;">CONTACT</a></li>
          </ul>
        </div>

      </nav>
      <!--  Mobile -->
      <nav >
        <div style="padding-top: 10px;"class="nav-wrapper hide-on-large-only">
          <a href="index.html" class="logo-icon"><img style=" width:60px; height:60px; margin-top: px;"src="static/img/100-logo-img.png"></img></a>
          <a href="#" data-target="mobile-demo" class="right sidenav-trigger">
            <div class="container" onclick="myFunction(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
              <div class="bar4"></div>
              <div class="bar5"></div>
            </div>
          </a>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
        <li class="navlinks "><a href="index.html" style="font-size: 12px;" >HOME</a></li>
        <li class="navlinks"><a href="shop.html" style="font-size: 12px;">SHOP</a></li>
        <li class="navlinks activcen"><a href="jobboard.html" style="font-size: 12px;">JOB BOARD</a></li>

        <!--<li   class="navlinks"><a href="portfolio.html" style="font-size: 12px;" >PORTFOLIO</a></li>-->
        <li class="navlinks"><a href="services.html" style="font-size: 12px;">SERVICES</a></li>
         <!--<li class="navlinks"><a href="{% url 'home' %}" style="font-size: 12px;">MERCH</a></li>-->
        <li class="navlinks"><a href="contact.html" style="font-size: 12px;">CONTACT</a></li>
      </ul>
      </br>
    <!--- Header --->
    <div class="container" >
      <h1 class="title-h1-timer"><p style="color: red;" class="timercountdown"></p></h1>
     </div>
    <!--- Pics --->
    <div class="container">
        <div class="row">
            <p class="p-batch">Job Board</p>
            <p>For the fall, we’ve decided to release our first batch of jobs. As we move through the ever growing demand, we’ve decided to make a commitment to the highest level of workmanship. Thus, we will only be accepting a few bookings this fall. The first batch of jobs is released and listed below. It is first come first serve, and the deadline is October 30th at 10:00:00 to book, after which we will not be accepting any additional jobs. We should also have a waitlist up soon, so don’t stress if you miss out on this batch. 
                Thank you, and let's keep pushing quality craftsmanship. 
                </p>
          <!--<div class="countdown-timer"> 
                <p class="timercountdown"></p>
            </div>-->  
            
        </div>
       
    
    </div>
 
    <div class="container job-board-container">
        <div class="row" style="margin-left: 0 !important; margin-right: 0 !important;">
            <div class="col-3" style="padding-left: 0 !important; padding-right: 0 !important;">
                <UL >
                    <li class="jobboard-nav-p" style="text-decoration: underline;" >ALL CATEGORIES</li>
                    <li class="jobboard-nav-p">COLOR CHANGE</li>
                    <li class="jobboard-nav-p">CUSTOM</li>
                    <li class="jobboard-nav-p">RACING STRIPE</li>
                    <li class="jobboard-nav-p">PPF</li>
                    <li class="jobboard-nav-p">LIGHT TINTS</li>
                </UL>
            
                <div class=" basereference-box col-xl-4 col-lg-6 col-md-6 col-sm-12 ">
                    <div class="fixme">
                        <UL >
                            <li style="text-decoration: ; font-style: italic; margin-bottom: -10px; padding-bottom: 0px; font-size: 12px;" >BASE</li>
                        </UL>
                        <div class=" img-preordr-referencecar-mobile">
                            <img src="static/pictures/referencecar.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="row ">
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 ">
                        <a href="order/ev-colorchange.html"> <div class="img-preordr">
                            <img src="static/pictures/blugagrey-colorchange.jpg" alt="">
                        </div></a>
                        <ul class="preorder-desccript">
                            <a href="order/ev-colorchange.html" class="preorder-link"><li class="title-dis"><p>EV COLOR CHANGE</p></li></a>
                            <li class="title-dis-p"><p>beluga grey</p></li>
                            <li class="countdown-timer-dis"><p class="timercountdown"></p></li>
                            <li class="countdown-timer-dis"><p class="EcolorChange"></p></li>
                        </ul>
                    </div>
                    
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 ">
                        <a href="order/stripe.html"> <div class="img-preordr">
                            <img src="static/pictures/stripe.jpg" alt="">
                        </div></a>
                        <ul class="preorder-desccript">
                            <a href="order/stripe.html" class="preorder-link"><li class="title-dis"><p>RACING STRIPES</p></li></a>
                            <li class="title-dis-p"><p>color swap</p></li>
                            <li class="countdown-timer-dis"><p class="timercountdown"></p></li>
                            <li class="countdown-timer-dis"><p class="racingstripe"></p></li>
                        </ul>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 ">
                        <a href="order/custom.html"> <div class="img-preordr">
                            <img src="static/pictures/decal-2.jpg" alt="">
                        </div></a>
                        <ul class="preorder-desccript">
                            <a href="order/custom.html" class="preorder-link"><li class="title-dis"><p>CUSTOM DESIGN</p></li></a>
                            <li class="title-dis-p"><p>1 of 1 designed wrap</p></li>
                            <li class="countdown-timer-dis"><p class="timercountdown"></p></li>
                            <li class="countdown-timer-dis"><p class="customdecal"></p></li>
                        </ul>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 ">
                        <a > <div class="img-preordr">
                            <img src="static/pictures/roofhoodwrap.jpg" alt="">
                        </div></a>
                        <ul class="preorder-desccript">
                            <a  class="preorder-link"><li class="title-dis"><p>ROOF & HOOD WRAP</p></li></a>
                            <li class="title-dis-p"><p>3M</p></li>
                            <!--<li class="countdown-timer-dis"><p class="timercountdown"></p></li>-->
                            <li class="countdown-timer-dis"><p class="soldout hoodroofwrap"></p></li>
                        </ul>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 ">
                        <a href="order/colorchange.html"> <div class="img-preordr">
                            <img src="static/pictures/colorchange.jpg" alt="">
                        </div></a>
                        <ul class="preorder-desccript">
                            <a href="order/colorchange.html" class="preorder-link"><li class="title-dis"><p>COLOR CHANGE</p></li></a>
                            <li class="title-dis-p"><p>color swap</p></li>
                            <li class="countdown-timer-dis"><p class="timercountdown"></p></li>
                            <li class="countdown-timer-dis"><p class="colorchange"></p></li>
                        </ul>
                    </div> 
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 ">
                        <a href="order/ppf.html"> <div class="img-preordr">
                            <img src="static/pictures/ppf-zoomedin-2.jpg" alt="">
                        </div></a>
                        <ul class="preorder-desccript">
                            <a href="order/ppf.html" class="preorder-link"><li class="title-dis"><p>PPF</p></li></a>
                            <li class="title-dis-p"><p>Paint Protection Film</p></li>
                            <li class="title-dis-p"><p>$510 - $3000</p></li>
                        </ul>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 ">
                        <a href="order/lighttints.html"> <div class="img-preordr">
                            <img src="static/pictures/headlight-white.jpg" alt="">
                        </div></a>
                        <ul class="preorder-desccript">
                            <a href="order/lighttints.html" class="preorder-link"><li class="title-dis"><p>LIGHT TINTS</p></li></a>
                            <li class="title-dis-p"><p>HEAD / TAIL LIGHT TINTS</p></li>
                            <li class="title-dis-p"><p>$140 - $290</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--- Footer --->
    <div>
        <!-- alt social logos
        <div class="row col-lg-3 col-md-6 col-sm-6">
                        <div class="col text-center ">
                            <ul  class="list-inline social-links2 ">
                                <li ><a  href="#"><i class="fab fa-facebook"></i></a></li>
                            </ul>
                        </div>
                        <div class="col  text-center ">
                            <ul class="list-inline social-links2 ">
                                <li><a  href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="col  text-center ">
                            <ul class="list-inline social-links2 ">
                                <li><a  href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div> -->

        <div class="row ">
            <div class="col text-right padding-left-icon" >
                <a target="_blank" href="http://www.instagram.com/hundred thousand streets"><i class=" padding-left-icon fab fa-instagram" style="padding-left:15px; font-size:12px; color:black;"></i></a>
                <!-- <a target="_blank" href="https://www.facebook.com/Hundred-Thousand-Streets-102393484951520s"><i class="padding-left-icon fab fa-facebook-f " style="padding-left:15px; font-size:12px; color:black;"></i></a>-->
                <!--<a href="tel:647-503-1230"><i class=" padding-left-icon fas fa-phone" style="padding-left:15px; font-size:12px; color:black;"></i></a>-->
            </div>
        </div>
        <div class="row links">
            <div class="font-1 col text-left"> <a href="jobboard.html">SEE AVAILABILITY</a></div>
            <div class="font-1 col text-center">© 2022 hundred thousand streets Corp.</div>
            <div class="font-1 ho col text-right"> <a href="customerservice.html">CUSTOMER   SERVICE</a>   </div>
        </div>
    </div>

    </body>

    <!-- Footer -->

<script src="static/js/app.js"></script>
<script src="preorder.js"></script>


<script>
    
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get today's date and time
      var now = new Date().getTime();
        
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
        
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
      // Output the result in an element with id="demo"
      [...document.getElementsByClassName("timercountdown")].forEach(e => e.innerHTML = days + ":" + hours + ":"
      + minutes + ":" + seconds + "");
        
      // If the count down is over, write some text 
      if (distance < 0) {
        clearInterval(x);
        [...document.getElementsByClassName("timercountdown")].forEach(e=>e.innerHTML = "EXPIRED");
      }
    }, 1000);
    </script>
    <script>
       var fixmeTop = $('.fixme').offset().top;       // get initial position of the element

        $(window).scroll(function() {                  // assign scroll event listener

            var currentScroll = $(window).scrollTop(); // get current position

            if (currentScroll >= fixmeTop) {           // apply position: fixed if you
                $('.fixme').css({                      // scroll to that element or below it
                    position: 'fixed',
                    top: '50',
                    left: '20',
                    width: '75px'
                });
            } else {                                   // apply position: static
                $('.fixme').css({                      // if you scroll above it
                    position: 'static'
                });
            }

        });
    </script>
</html>
