<html>
    <head>
        <title>hundred thousand streets Corp. | Toronto Canada | hundred thousand streets Corp.</title>
        <meta name="description" content="hundred thousand streets is GTA's Premier vinyl wrap company. We offer full wraps, custom designs, racing stripes, hood wraps, roof wraps, paint-protection film, detailing and rust proof. We aim to inspire and nurture a culture of creativity and quality, while bringing inspiration and innovation to every person in the world through cars. A level of personalized innovation, creativity and detailed service from a trusted and experienced brand.">
        <meta name="keywords" content="Car wrap, Vinyl wrap, Color Change, Headlight tints, Roof Wrap, Hood Wrap, Toronto, Brampton, Canada, GTA">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="static/img/100-logo-img.png">
    <!--- Bootstrap --->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!--- Materialize --->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--- Font Awesome --->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!--- Static --->
        <script src="static/js/app.js"></script>
        <link rel="stylesheet" href="static/css/custom.css">
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164224221-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-164224221-1');
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2S6W36YYSW"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-2S6W36YYSW');
        </script>
       
    </head>

    <body>

        <div class="pageLoad">
          
            <div class="inner">
                <div class="text-center ">
                    <section class="portfolio-experiment">
                        <div class="experiment-title" contenteditable="true" >hundred thousand streets Corp.</div>
                      </section>
                </div>
            </div> 
        </div>
            
      <!-- <div style="background-color:black; color:white; border:none; border-radius:0; font-size:10px;" class="text-center alert alert-dark" role="alert">
        Follow us at <a style="color:white;"href="http://www.instagram.com/hundredthousandstreets">@thehouseofwrap</a> on instagram for special offers!
      </div> -->
      <!-- <div style="background-color:black; color:white; border:none; border-radius:0; font-size:10px;" class="text-center alert alert-dark" role="alert">
        Head & Tail Light Tints Starting @ $145, limited time only <br class="hide-on-med-and-up"> <b class="hide-on-small-only">-</b> <a style="color:white; text-decoration:underline;" href="tel:647-503-1230"><b> (647) 795-6275</b></a>
      </div> -->
      <nav class=" hide-on-med-and-down">
        <div class="nav-wrapper ">
          <a href="index.html" class="logo-icon"><img style=" width:80px; height:80px; margin-top: 10px;"src="/static/img/static/img/100-logo-img.png"></img></a>
        
          <ul style="font-size: 12px; padding-right:90px;"  id="nav-mobile" class="right hide-on-med-and-down navlinks">
            <li class="navlinks activcen fade-in"><a href="index.html" style="font-size: 11px;" >HOME</a></li>
            <li class="navlinks"><a href="shop.html" style="font-size: 12px;">SHOP</a></li>
            <li class="navlinks"><a href="jobboard.html" style="font-size: 12px;">JOB BOARD</a></li>

            <!--<li   class="navlinks"><a href="portfolio.html" style="font-size: 11px;" >PORTFOLIO</a></li>-->
            <li class="navlinks"><a href="services.html" style="font-size: 11px;">SERVICES</a></li>
            <!-- <li class="navlinks"><a href="{% url 'home' %}" style="font-size: 12px;">MERCH</a></li> -->
            <li class="navlinks"><a href="contact.html" style="font-size: 11px;">CONTACT</a></li>
          </ul>
        </div>

      </nav>
      <!--  Mobile -->
      <nav >
        <div style="padding-top: 10px;"class="nav-wrapper hide-on-large-only">
          <a href="index.html" class="logo-icon"><img style=" width:60px; height:60px; margin-top: px;"src="/static/img/static/img/100-logo-img.png"></img></a>
          <a href="#" data-target="mobile-demo" class="right sidenav-trigger">
            <div class="container" onclick="myFunction(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
              <div class="bar4"></div>
              <div class="bar5"></div>
            </div>
          </a>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
        <li class="navlinks activcen"><a href="index.html" style="font-size: 12px;" >HOME</a></li>
        <li class="navlinks"><a href="shop.html" style="font-size: 12px;">SHOP</a></li>
        <li class="navlinks"><a href="jobboard.html" style="font-size: 12px;">JOB BOARD</a></li>

        <!--<li   class="navlinks"><a href="portfolio.html" style="font-size: 12px;" >PORTFOLIO</a></li>-->
        <li class="navlinks"><a href="services.html" style="font-size: 12px;">SERVICES</a></li>
         <!--<li class="navlinks"><a href="{% url 'home' %}" style="font-size: 12px;">MERCH</a></li>-->
        <li class="navlinks"><a href="contact.html" style="font-size: 12px;">CONTACT</a></li>
      </ul>
      </br>
    <!--- Header --->
    <div class="container" >
      <h1 class="title-h1">Job Board</h1>
     </div>
    <!--- Pics --->
    <div class="container">
        <div class="row">
            <p>Lorem ipsum dolor sit amet, consecLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan </p>
            <div class="countdown-timer"> 
                <p class="timercountdown"></p>
            </div>
            <div class="countdown-timer"> 
                <p class="timercountdown"></p>
            </div>
            <div class="countdown-timer"> 
                <p class="timercountdown"></p>
            </div>
            <div class="countdown-timer"> 
                <p class="timercountdown"></p>
            </div>
        </div>
       
    
    </div>
 
   



    </body>

    <!-- Footer -->




<script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2023 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  [...document.getElementsByClassName("timercountdown")].forEach(e => e.innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ");
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    [...document.getElementsByClassName("timercountdown")].forEach(e=>e.innerHTML = "EXPIRED");
  }
}, 1000);
</script>

</html>
