/*.....T-Text Glitch...*/


  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=email].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=phone].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid rgb(255, 0, 0);
    box-shadow: 0 1px 0 0 rgb(255, 0, 0);
  }
    /* invalid color */
    .input-field input[type=email].invalid {
      border-bottom: 1px solid rgb(255, 0, 0);
      box-shadow: 0 1px 0 0 rgb(255, 0, 0);
    }
    /* invalid color */
    .input-field input[type=phone].invalid {
      border-bottom: 1px solid rgb(255, 0, 0);
      box-shadow: 0 1px 0 0 rgb(255, 0, 0);
    }
      
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }
/*.....T-Button...*/
.retro-button{
  padding: 3px 10px;
}
.retro-button:hover{
  background-color: black;
  color: rgb(135, 135, 135);
}
/*.....T-Text Glitch...*/
.portfolio-experiment, .scene {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-display: flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  position: ;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.portfolio-experiment {
  color: #FFF11B;
  font-weight: 900;
  text-shadow:
  -1px -1px 0 #000000,
   0   -1px 0 #D61A1F,
   1px -1px 0 #D61A1F,
   1px  0   0 #000000,
   1px  4px 0 #D61A1F,
   0    1px 0 #D61A1F,
  -1px  1px 0 #D61A1F,
  -1px  0   0 #D61A1F;
  ;
}
.portfolio-experiment .experiment-title {
  outline: none;
  font-size: 3.5vw;
  text-align: center;
  font-family: "Roboto", monospace;
  min-height: 10vw;
  max-width: 80vw;
  min-width: 10vw;
}
.portfolio-experiment .experiment-title,
.portfolio-experiment .experiment-title * {
  -webkit-animation: cray 12s infinite steps(50);
          animation: cray 12s infinite steps(50);
  display: inline-block;
}
@-webkit-keyframes cray {
  2% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  4% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  6% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  8% {
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  10% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
  }
  12% {
    font-weight: 600;
    font-style: normal;
    text-decoration: line-through;
    text-transform: uppercase;
  }
  14% {
    font-weight: 400;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  16% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  18% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  20% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  22% {
    font-weight: 100;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  24% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  26% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  28% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  30% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  32% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  34% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  36% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  38% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  40% {
    font-weight: 200;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  42% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  44% {
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  46% {
    font-weight: 700;
    font-style: italic;
    text-decoration: line-through;
    text-transform: none;
  }
  48% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  50% {
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  52% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  54% {
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-transform: capitalize;
  }
  56% {
    font-weight: 100;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  58% {
    font-weight: 500;
    font-style: normal;
    text-decoration: underline;
    text-transform: uppercase;
  }
  60% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  62% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  64% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  66% {
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
  }
  68% {
    font-weight: 600;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  70% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  72% {
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  74% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  76% {
    font-weight: 500;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  78% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  80% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  82% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  84% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  86% {
    font-weight: 100;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  88% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  90% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  92% {
    font-weight: 100;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
  }
  94% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  96% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: capitalize;
  }
  98% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
}
@keyframes cray {
  2% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  4% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  6% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  8% {
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  10% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
  }
  12% {
    font-weight: 600;
    font-style: normal;
    text-decoration: line-through;
    text-transform: uppercase;
  }
  14% {
    font-weight: 400;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  16% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  18% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  20% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  22% {
    font-weight: 100;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  24% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  26% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  28% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  30% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  32% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  34% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  36% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  38% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  40% {
    font-weight: 200;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  42% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  44% {
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  46% {
    font-weight: 700;
    font-style: italic;
    text-decoration: line-through;
    text-transform: none;
  }
  48% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  50% {
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  52% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  54% {
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-transform: capitalize;
  }
  56% {
    font-weight: 100;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  58% {
    font-weight: 500;
    font-style: normal;
    text-decoration: underline;
    text-transform: uppercase;
  }
  60% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  62% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  64% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  66% {
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
  }
  68% {
    font-weight: 600;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  70% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  72% {
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  74% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  76% {
    font-weight: 500;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  78% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  80% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  82% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  84% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  86% {
    font-weight: 100;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  88% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  90% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  92% {
    font-weight: 100;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
  }
  94% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  96% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: capitalize;
  }
  98% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
}
/*........*/


.text-logo-container{
  padding: 50px 0px;
}

.logo-100{
  font-weight: 800;
  color: #000000;
  font-size: 6vw;
  letter-spacing: -4px;
  text-shadow:
  -1vw -1vw 0 #FFF11B,
   0   -1vw 0 #FFF11B,
   1vw -1vw 0 #FFF11B,
   1vw  0   0 #FFF11B,
   1vw  1vw 0 #FFF11B,
   0    1vw 0 #FFF11B,
  -1vw  1vw 0 #FFF11B,
  -1vw  0   0 #FFF11B;
  ;

}
.logo-text{
  color: #000000;
}
.coming-soon{
  font-weight: 700;
  color: #FFF11B;
text-shadow: 3px 5px 2px #474747;
font-size: 10vh;
}
.images-home{
  width:328px; /* you can use % */
    height: 491px;

}

.main-font{
  font-weight: 900;
}

/*...... Nav ......*/

nav ul a {
    color: black;

}

nav {
    background-color: white;
    box-shadow: 2px 2px;
}
.img-pdf-pricing{
  width: 200px;
  height: auto;
  margin-top: 40px;
}

.pdf-pff-img{
  width:90%;
  padding-top: 40px;
}
.text-pdf-price{
  font-size: 14px;
  margin: 50px;
  color: grey;
}

nav ul a:hover {
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: 500;

}

.links .font-1 a {
  color: black;
}

.links .font-1 a:hover {
  text-decoration: none;
  font-weight: 800;
}

button:hover {
  background-color:green;
}

/*...... Footer ......*/

footer {
    background-color: white;
    box-shadow: 2px 2px;
}

/*...... Font ......*/
.font-1{
    font-size: 9px;

}

.font-camaro{
  font-family: 'Laila', serif;
  margin-left: 15px;
  font-size: 12px;
}

.font-service{
  font-family: 'Laila', serif;
  font-size: 15px;
  padding-top: 13px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.icon-services-small{
  width:120px;
  height:auto;
  margin-top:10%;
}

.phone-text{
  font-size: 12px;
  color: black;
  text-decoration: none;
}


.services-contact{
  color: grey;
}

.services-contact:hover {
  color: black;
  text-decoration: none;
}


.phone-text-2{
  font-size: 12px;
}
/*... Viewport ...*/

    /*... Small devices (landscape phones, 576px and up)...*/

@media (min-width: 176px) {

     .navlinks:hover{
    text-decoration: none;
    color: black;
}
    .font-camaro{
      font-family: 'Laila', serif;
      margin-left: 15px;
      font-size: 12px;
    }

     .font-1{
    font-size: 6px;
    }
    .phone-text-2{
      font-size: 10px;
    }

    .img-portfolio {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    }

    .widht-font{
      font-weight: 300;
    }
    .icon-services-small{
      width:80px;
      height:auto;
      margin-top:10%;
    }

    .sf-icon-services-small{
      width:200px;
      height:auto;
      margin-top:%;
      margin-bottom:5%
    }
    .phone-text{
      font-size: 8.5px;
    }
    .pdf-pff-img{
      width:100%;
      padding-top: 40px;
    }

    .contact-mobile-socials{
      margin-top:-30px;
      padding-left: 10px;
      margin-right: -20px;
    }

    .mobile-display{
      display: none;
    }
}



@media (min-width: 576px) {

     .navlinks:hover{
    text-decoration: none;
    color: black;
}
    .font-1{
        font-size: 9px;
        }

    .img-portfolio {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    }

    .phone-text{
      font-size: 12px;
    }

    .phone-text-2{
      font-size: 12px;
    }

    .services-container{
      padding-left: 0%;
      padding-right: 0%;
    }

    .padding-leftright{
      padding-left: 80px;
      padding-right: 80px;
    }
}

    /*... Medium devices (tablets, 768px and up)...*/
@media (min-width: 768px) {
    .margin-top-header{
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .services-container{
      padding-left: 0%;
      padding-right: 0%;
    }
    .mobile-display{
      display: none;
    }


}

    /*... Large devices (desktops, 992px and up)...*/
@media (min-width: 992px) {

    .margin-top-header{
        padding-bottom: ;
        padding-top: 50px;
    }

    .margin-bottom-header{
        padding-bottom: 30px;
    }

    .contact-mobile-socials{
      margin-top: 0px;
      padding-left: 0px;
      margin-right: 0px;
    }

}

    /*... Extra large devices (large desktops, 1200px and up)...*/
@media (min-width: 1200px) {

    .margin-top-header{
        padding-bottom: 10px;
        padding-top: 50px;
    }

    .services-container{
      padding-left: 14%;
      padding-right: 14%;
    }


}


.v-align{
    vertical-align: middle;
}

.margintop{
    margin: 50px;
}
.ho{
  color: yellow;
}
.ho:hover {
  text-decoration: none;
}


.button2{

    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

.botton2 li a i:hover{
    background: #7C94B1;
}

.navlinks:hover{
    text-decoration: none;
    color: black;
}

/*...... Neon Logo ......*/




#my-5{
    width: 100px;
    height: 2px;
    color: red;
    border: 0;
    border-top: 1px solid grey;
    padding-bottom: 20px;
}

/*.... Services ....*/

.avatar {
  vertical-align: middle;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 9px solid #648ea461;
  margin-top: 10px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.logo-icon{
    margin-left: 5%;

}


.contact-button{
  border-radius: 40px;
  background-color: grey;
  font-size: 10px;
}

/*..... Nav ....*/


.bar1, .bar2, .bar3, .bar4 {
  width: 30px;
  height: 2px;
  background-color: #333;
  margin: 8px 0;
  transition: 0.9s;
}

.sidenav-trigger{
    margin-top: 10px;
}
/* ....
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
} ...*/

.sidenav li:hover{
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: 800;
}


.sidenav li>a:hover{
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: 800;
}

/*.... Tabs ..................................................................*/

/* Style the tab */
.tab2 {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 8px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #1573E9;
  color: white;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #1573E9;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border:
  border-top: none;
}

.tabcontent1 {
  display: ;
  padding: 6px 12px;
  border:
  border-top: none;
}


#owl-demo .item img{
    display: block;
    height: auto;
}

.texty a{
    text-decoration: none;
    color: black;
}

.texty a:hover{
    text-decoration: none;
    font-weight: 600;
}

.portfolio-img{
  font-size: 12px;
  padding-left: 10px;
  margin-bottom: -5px;
  font-weight: 600;
}
.text-discrp{
  margin-top: 8px;
}
.portfoliotext {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.img-portfolio {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.container-small-1 {
    width: 100%;
}
